<div class="sidebar">
  {{ if .Params.toc }}
    {{ with .TableOfContents }}
      <aside class="toc">
        <nav>
          <p class="sidebar__heading">Table Of Contents</p>
          {{ . }}
        </nav>
      </aside>
      <hr />
    {{ end }}
  {{ end }}

  {{ $cv := index $.Site.Data.json_resume $.Site.Language.Lang }}
  {{ if $cv.basics }}
    <aside class="bio">
      {{ partial "json-resume/basics.html" . }}

      {{ if $.Site.Params.tagCloud.enable }}
        <hr />
      {{ end }}
    </aside>
  {{ end }}

  {{ if $.Site.Params.tagCloud.enable }}
    <aside>
      {{ partial "tag-cloud.html" . }}
    </aside>
  {{ end }}
<img src="https://github-readme-stats-five-lake-36.vercel.app/api/top-langs/?username=mpcabete&amp;layout=compact&amp;theme=gruvbox&locale=pt-br" alt="Top Langs" loading="lazy" style="margin-top: 20px;">
</div>
